<section class="custom-section space " id="about" [ngsReveal]="config1reveal">
    <h1 class="heading"> <span>SOBRE</span> MI </h1>
    <div class="row">
        <div class="profile-pic ">
            <img class="img-fluid rounded-circle shadow-sm" src="../../assets/yo.jpg" alt="">
        </div>
        <div class="cb">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nihil non
                    asperiores quibusdam exercitationem, qui aliquid quod nesciunt possimus eos, sint velit maiores
                    quaerat repellendus modi vitae voluptatibus necessitatibus ullam harum. Saepe vero quae illum a
                    veritatis at ullam enim perspiciatis minus assumenda. Perferendis, autem dignissimos eligendi
                    mollitia nemo iste tempora non quam ratione ad doloribus, dolorum amet. Dolore enim iure
                    doloribus nobis dolores eum? Aperiam voluptatum architecto omnis nobis odio debitis vero harum
                    quae illo neque molestias, animi veniam quisquam totam tempora a necessitatibus dolorum!
                    Voluptates neque illo ad laudantium ut.
                </p>
            </div>
        </div>
    </div>
</section>