<section class="space scroll-reveal" id="experience">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <h3 class="exp-text">experiencia</h3>
                <ul>
                    <li class="li-text">
                        Polotic Misiones
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <h3 class="exp-text">estudios</h3>
                <ul>
                    <li class="li-text">
                        Técnico Superior en Desarrollo de Software. Instituto de Educación Superior N° 7 (2020 -
                        Actualidad).
                    </li>
                    <li class="li-text">
                        Idiomas: Inglés (medio), Español (nativo).
                    </li>
                    <li class="li-text">
                        Polotic Misiones. Curso "Desarrollo Web Full Stack con Java" perfil Junior (2020)
                    </li>
                    <li class="li-text">
                        Telecom Argentina y Educación IT. Curso "Desarrollador Full Stack con Node.js" perfil Junior
                        (2021)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
