<section class="menu" id="projects" [ngsReveal]="config1reveal">
    <h1 class="heading "> <span>trabajos</span> realizados </h1>
    <div class="box-container">
        <div class="row  row-cols-1 row-cols-md-3 g-4 ">
            <div class="col  ">
                <div class="card ">
                    <img src="img/asd.jpg" class="card-img-top img-fluid " alt="...">
                </div>
                <div class="card-body box">
                    <h5 class="card-title">TRABAJO 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
                        voluptas
                        voluptates saepe
                        possimus assumenda quae, nam illum veritatis a quis in, ratione reiciendis dolorum
                        laborum ea
                        adipisci vitae modi perspiciatis?</p>
                    <a href="#" class="btn">View</a>
                </div>
            </div>
            <div class="col ">
                <div class="card">
                    <img src="img/asd.jpg" class="card-img-top img-fluid " alt="...">
                </div>
                <div class="card-body box">
                    <h5 class="card-title">TRABAJO 2</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                    <a href="#" class="btn">View</a>
                </div>
            </div>
            <div class="col ">
                <div class="card">
                    <img src="img/asd.jpg" class="card-img-top img-fluid " alt="...">
                </div>
                <div class="card-body box">
                    <h5 class="card-title">TRABAJO 3</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                    <a href="#" class="btn">View</a>
                </div>
            </div>
        </div>
    </div>
</section>