<section class="home" id="home" ngsReveal>
    <div class="content">
        <ngx-typed-js [strings]="['Java', 'Node.js']" [shuffle]="false" [typeSpeed]="100" [startDelay]="400" [backSpeed]="100" [smartBackspace]="true" [backDelay]="1600" [loop]="true" [showCursor]="false">
            <h3><a href="#" style="color:rgb(214, 178, 88)"><span><fa-icon [icon]="faPenToSquare"  class="fa-sm"></fa-icon></span></a> MAIA NATALÍ ALDECO <br> Full Stack <span class="typing typed"></span> Developer</h3> 
          </ngx-typed-js>
    </div>
</section>